<?xml version="1.0"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
                         "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
 <display-name>Archetype Created Web Application</display-name>
 
 <servlet>
 	<servlet-name>AdminLoginServlet</servlet-name>
 	<display-name>AdminLoginServlet</display-name>
 	<description></description>
 	<servlet-class>com.collegeDemo.AdminLoginServlet</servlet-class>
 </servlet>
 <servlet>
 	<servlet-name>StudentLoginServlet</servlet-name>
 	<display-name>StudentLoginServlet</display-name>
 	<description></description>
 	<servlet-class>com.collegeDemo.StudentLoginServlet</servlet-class>
 </servlet>
 <servlet>
 	<servlet-name>StudentSignUpServlet</servlet-name>
 	<display-name>StudentSignUpServlet</display-name>
 	<description></description>
 	<servlet-class>com.collegeDemo.StudentSignUpServlet</servlet-class>
 </servlet>
 <servlet>
 	<servlet-name>StudentMarksServlet</servlet-name>
 	<display-name>StudentMarksServlet</display-name>
 	<description></description>
 	<servlet-class>com.collegeDemo.StudentMarksServlet</servlet-class>
 </servlet>
 <servlet>
 	<servlet-name>ConfirmDeleteStudentMarksServlet</servlet-name>
 	<display-name>ConfirmDeleteStudentMarksServlet</display-name>
 	<description></description>
 	<servlet-class>com.collegeDemo.ConfirmDeleteStudentMarksServlet</servlet-class>
 </servlet>
 <servlet>
 	<servlet-name>DeleteStudentMarksServlet</servlet-name>
 	<display-name>DeleteStudentMarksServlet</display-name>
 	<description></description>
 	<servlet-class>com.collegeDemo.DeleteStudentMarksServlet</servlet-class>
 </servlet>
 <servlet>
 	<servlet-name>EditStudentMarksServlet</servlet-name>
 	<display-name>EditStudentMarksServlet</display-name>
 	<description></description>
 	<servlet-class>com.collegeDemo.EditStudentMarksServlet</servlet-class>
 </servlet>
 <servlet>
 	<servlet-name>InsertStudentMarksServlet</servlet-name>
 	<display-name>InsertStudentMarksServlet</display-name>
 	<description></description>
 	<servlet-class>com.collegeDemo.InsertStudentMarksServlet</servlet-class>
 </servlet>
 <servlet>
 	<servlet-name>UpdateStudentMarksServlet</servlet-name>
 	<display-name>UpdateStudentMarksServlet</display-name>
 	<description></description>
 	<servlet-class>com.collegeDemo.UpdateStudentMarksServlet</servlet-class>
 </servlet>
 <servlet>
 	<servlet-name>AdminPageServlet</servlet-name>
 	<display-name>AdminPageServlet</display-name>
 	<description></description>
 	<servlet-class>com.collegeDemo.AdminPageServlet</servlet-class>
 </servlet>
 
 <servlet-mapping>
 	<servlet-name>AdminLoginServlet</servlet-name>
 	<url-pattern>/AdminLoginServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
 	<servlet-name>StudentLoginServlet</servlet-name>
 	<url-pattern>/StudentLoginServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
 	<servlet-name>StudentSignUpServlet</servlet-name>
 	<url-pattern>/StudentSignUpServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
 	<servlet-name>StudentMarksServlet</servlet-name>
 	<url-pattern>/StudentMarksServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
 	<servlet-name>ConfirmDeleteStudentMarksServlet</servlet-name>
 	<url-pattern>/ConfirmDeleteStudentMarksServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
 	<servlet-name>DeleteStudentMarksServlet</servlet-name>
 	<url-pattern>/DeleteStudentMarksServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
 	<servlet-name>EditStudentMarksServlet</servlet-name>
 	<url-pattern>/EditStudentMarksServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
 	<servlet-name>InsertStudentMarksServlet</servlet-name>
 	<url-pattern>/InsertStudentMarksServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
 	<servlet-name>UpdateStudentMarksServlet</servlet-name>
 	<url-pattern>/UpdateStudentMarksServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
 	<servlet-name>AdminPageServlet</servlet-name>
 	<url-pattern>/AdminPageServlet</url-pattern>
 </servlet-mapping>

 <welcome-file-list>
  <welcome-file>/Index.html</welcome-file>
 </welcome-file-list>
</web-app>
